.metadata
.recommenders
RemoteSystemsTempFiles/

LivroCodigos/bin
LivroCodigos/.settings
LivroCodigos/.classpath
LivroCodigos/.project

JogoDaForca/bin
JogoDaForca/.settings
JogoDaForca/.classpath
JogoDaForca/.project

#bin
#.settings
#.classpath
#.project