.metadata
.recommenders
RemoteSystemsTempFiles/
CodigosCapLivro/.metadata
CodigosCapLivro/.recommenders
CodigosCapLivro/RemoteSystemsTempFiles/
CodigosCapLivro/bin
CodigosCapLivro/.settings
CodigosCapLivro/.classpath
CodigosCapLivro/.project

#bin
#.settings
#.classpath
#.project